*{padding: 0;
margin:0}
 
 section{
     margin-bottom:130px ;
 }
 
 body{
        font-family: 'Work Sans', sans-serif;
    }

.banner{
    background-image:url('../images/banner/banner1.png');
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
  
}

.banner-container{
   padding:166px  230px 166px 500px ;
    text-align: end;
    max-width: 800px;
    margin:0px auto

}

.banner-title{color:#151414;
    font-size: 55px;
    font-weight: 700;
    margin-bottom:24px;
   }

   .banner-description{
    color:#444343;
    text-align: right;
     font-size: 16px;
    margin-top: 0;
    margin-bottom: 32px;
    font-weight: 400;
   }

   .primary-button{
       padding:21px;
       border-radius: 5px;
       background-color: #F15B22;
       border:none;
       color:white
   }
/* failure section start */

.failure-section img{
    max-width: 800px;
    max-height: 500px;
   
}
   .failure-section{
       display: flex;
       align-items: center;
       gap:80px;
       margin:0 auto;
       padding:0px 230px ;
   }

   .failure-title{
       font-size: 25px;
       font-weight: 700;
       max-width: 200px;
       margin-bottom: 24px;
   }

   .failure-description{
       margin-top: 0;
       margin-bottom: 18px;
       font-size: 12px;
       max-width: 400px;
   }

   .failure-list{
       font-size: 12px;
       line-height:20px;
       padding: 0px 15px;

   }